html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    line-height: 1.3;
    font-family: var(--font-main), Roboto, sans-serif;
}

a, input, button {
    outline-color: var(--blue);
}
