.block {
    display: flex;
    font-size: 24px;
    padding: 0 22px;
    background: none;
    min-height: 48px;
    line-height: 1.3;
    text-align: center;
    border-radius: 50px;
    align-items: center;
    text-decoration: none;
    justify-content: center;

    &--label {
        cursor: pointer;
    }

    &--skeleton {
        width: 90px;

        &:nth-child(9n + 1),
        &:nth-child(9n + 3),
        &:nth-child(9n + 4) {
            width: 140px;
        }

        &:nth-child(9n),
        &:nth-child(9n + 2),
        &:nth-child(9n + 5),
        &:nth-child(9n + 6) {
            width: 165px;
        }

        &:nth-child(9n + 7) {
            width: 200px;
        }

        &:nth-child(9n + 8) {
            width: 240px;
        }
    }

    &--theme-light {
        color: var(--dark-primary);

        &.block--content {
            border: 1px solid var(--dark-primary);
        }

        &.block--active {
            color: var(--light-primary);
            background-color: var(--dark-primary);
        }
    }

    &--theme-dark {
        color: var(--light-primary);

        &.block--content {
            border: 1px solid var(--light-primary);
        }

        &.block--active {
            color: var(--bg-dark);
            background-color: var(--light-primary);
        }
    }
}

[data-theme="theme-light"] {
    .block:not(.block--theme-light, .block--theme-dark) {
        color: var(--dark-primary);

        &.block--content {
            border: 1px solid var(--dark-primary);
        }

        &.block--active {
            color: var(--light-primary);
            background-color: var(--dark-primary);
        }
    }
}

[data-theme="theme-dark"] {
    .block:not(.block--theme-light, .block--theme-dark) {
        color: var(--light-primary);

        &.block--content {
            border: 1px solid var(--light-primary);
        }

        &.block--active {
            color: var(--bg-dark);
            background-color: var(--light-primary);
        }
    }
}

.input {
    display: none;
    visibility: hidden;
}

@media (width <= 2160px) {
    .block {
        padding: 0 18px;
        font-size: 21px;
        min-height: 42px;

        &--skeleton {
            &:nth-child(9n + 1),
            &:nth-child(9n + 3),
            &:nth-child(9n + 4) {
                width: 110px;
            }

            &:nth-child(9n),
            &:nth-child(9n + 2),
            &:nth-child(9n + 5),
            &:nth-child(9n + 6) {
                width: 130px;
            }

            &:nth-child(9n + 7) {
                width: 160px;
            }

            &:nth-child(9n + 8) {
                width: 190px;
            }
        }
    }
}

@media (width <= 1200px) {
    .block {
        font-size: 16px;
        min-height: 30px;
        padding: 3px 12px;

        &--skeleton {
            &:nth-child(9n + 1),
            &:nth-child(9n + 3),
            &:nth-child(9n + 4),
            &:nth-child(9n + 8) {
                width: 65px;
            }

            &:nth-child(9n + 2),
            &:nth-child(9n + 6),
            &:nth-child(9n + 7) {
                width: 90px;
            }

            &:nth-child(9n),
            &:nth-child(9n + 5) {
                width: 110px;
            }
        }
    }
}
