.footer {
    top: -1px;
    width: 100%;
    display: flex;
    min-height: 90px;
    position: sticky;
    margin-bottom: 35px;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s background-color;

    &--light {
        color: var(--dark-primary);
    }

    &--dark {
        color: var(--light-primary);
    }
}

[data-theme="light"] {
    .footer:not(.footer--light, .footer--dark) {
        color: var(--dark-primary);
    }
}

[data-theme="dark"] {
    .footer:not(.footer--light, .footer--dark) {
        color: var(--light-primary);
    }
}

.footer-grid {
    width: 100%;
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
}

.column-date {
    width: 40%;
}

.column-button {
    width: 20%;
}

.column-share {
    width: 40%;
}

.button {
    opacity: 1;
    width: 100%;
    border: none;
    padding: 4px;
    display: flex;
    cursor: pointer;
    background: none;
    overflow: hidden;
    align-items: center;
    transition: 0.3s all;
    justify-content: center;
}

.icon {
    width: 44px;
    height: 44px;
    display: block;

    &--light {
        fill: var(--dark-primary);
    }

    &--dark {
        fill: var(--light-primary);
    }
}

[data-theme="light"] {
    .icon:not(.icon--light, .icon--dark) {
        fill: var(--dark-primary);
    }
}

[data-theme="dark"] {
    .icon:not(.icon--light, .icon--dark) {
        fill: var(--light-primary);
    }
}

.share {
    justify-content: flex-end;
}

@media (width <= 2160px) {
    .footer {
        min-height: 60px;
        margin-bottom: 25px;
    }

    .footer-grid {
        min-height: 20px;
    }

    .icon {
        width: 32px;
        height: 32px;
    }
}

@media (width <= 1200px) {
    .footer {
        min-height: 40px;
        margin-bottom: 15px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .column-share {
        display: none;
        visibility: hidden;
    }
}
