:root {
    --color-black: #0B0B0B;
    --color-white: #fff;
    --color-gray-mid: #808080;
    --color-gray-light: #D9D9D9;
    --color-lilac: #6F64BC;
    --color-lilac-dark: #4F4883;
    --color-service: #58FF00FF;
}
