STRAPI_INTERNAL_URL=https://api.test.ru
NEXT_PUBLIC_MEDIA_URL=https://api.test.ru
NEXT_PUBLIC_MEDIA_PUBLIC_URL=https://api.test.ru
SENTRY_URL=https://9999999999999999999999999.ingest.us.sentry.io/9999999999
SENTRY_AUTH_TOKEN=sntrys_abcd
