.block {
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: 0.3s all;

    &--regular {
        padding: 16px;
        justify-content: space-between;

        &.block--light {
            background-color: var(--light-accent);
        }

        &.block--dark {
            background-color: var(--dark-accent);
        }
    }
}

[data-theme="light"] {
    .block--regular:not(.block--light, .block--dark) {
        background-color: var(--light-accent);
    }
}

[data-theme="dark"] {
    .block--regular:not(.block--light, .block--dark) {
        background-color: var(--dark-accent);
    }
}

@media (width <= 2160px) {
    .block {
        &--regular {
            padding: 12px;
        }
    }
}

@media (width <= 1200px) {
    .block {
        border-radius: 8px;

        &--regular {
            padding: 12px;
            min-height: var(--menu-mobile-item-height-s);
        }
    }
}
