.block {
    flex: 1 0 0;
    display: flex;
    font-size: 28px;
    line-height: 1.3;
    padding: 10px 40px;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
    transition: 0.3s background-color;
    min-height: var(--menu-mobile-item-height-l);

    &.block--theme-light {
        color: var(--dark-primary);
        background-color: var(--light-accent);
    }

    &.block--theme-dark {
        color: var(--light-primary);
        background-color: var(--dark-accent);
    }

    &--active {
        color: var(--light-primary);
        background-color: var(--blue);
    }
}

[data-theme="theme-light"] {
    .block:not(.block--theme-light, .block--theme-dark) {
        color: var(--dark-primary);
        background-color: var(--light-accent);
    }
}

[data-theme="theme-dark"] {
    .block:not(.block--theme-light, .block--theme-dark) {
        color: var(--light-primary);
        background-color: var(--dark-accent);
    }
}

@media (width <= 2160px) {
    .block {
        font-size: 24px;
        padding: 10px;
        min-height: var(--menu-mobile-item-height-m);
    }
}

@media (width <= 1200px) {
    .block {
        font-size: 20px;
        border-radius: 8px;
        min-height: var(--menu-mobile-item-height-s);
    }
}
