.block {
    width: 100%;

    // TODO Если будет конфликтовать, сделать отдельным пропсом
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 15px;

    &::after {
        inset: 0;
        z-index: 1;
        content: '';
        position: absolute;
        transform: translateX(-100%);
        animation: shimmer 3s infinite;
    }
}

.block--light,
[data-theme="light"] .block:not(.block--dark) {
    background-color: var(--light-accent);

    &::after {
        background-image: linear-gradient(
                        90deg,
                        rgb(0 0 0 / 0%) 0,
                        rgb(0 0 0 / 7.5%) 20%,
                        rgb(0 0 0 / 15%) 60%,
                        rgb(0 0 0 / 0%)
        );
    }
}

.block--dark,
[data-theme="dark"] .block:not(.block--light) {
    background-color: var(--dark-accent);

    &::after {
        background-image: linear-gradient(
                        90deg,
                        rgb(255 255 255 / 0%) 0,
                        rgb(255 255 255 / 7.5%) 20%,
                        rgb(255 255 255 / 15%) 60%,
                        rgb(255 255 255 / 0%)
        );
    }
}

.wrapper {
    position: relative;
    display: inline-block;

    &:nth-child(7n + 1) { width: 78%; }
    &:nth-child(7n + 2) { width: 98%; }
    &:nth-child(7n + 3) { width: 82%; }
    &:nth-child(7n + 4) { width: 90%; }
    &:nth-child(7n + 5) { width: 75%; }
    &:nth-child(7n + 6) { width: 86%; }
    &:nth-child(7n)     { width: 90%; }
}

.inner {
    inset: 0.20em 0;
    content: "";
    overflow: hidden;
    position: absolute;
    border-radius: 8px;

    &::after {
        inset: 0;
        content: '';
        position: absolute;
        transform: translateX(-100%);
        animation: shimmer 3s infinite;
        background-image: linear-gradient(
                        90deg,
                        rgb(0 0 0 / 0%) 0,
                        rgb(0 0 0 / 7.5%) 20%,
                        rgb(0 0 0 / 15%) 60%,
                        rgb(0 0 0 / 0%)
        );
    }

    &--light,
    [data-theme="light"] .inner:not(.inner--dark) {
        background-color: var(--light-accent);
    }

    &--dark,
    [data-theme="dark"] .inner:not(.inner--light) {
        background-color: var(--dark-accent);
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
