.block {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 15px;

    &::after {
        inset: 0;
        content: '';
        position: absolute;
        transform: translateX(-100%);
        animation: shimmer 3s infinite;
        background-image: linear-gradient(
                        90deg,
                        rgb(0 0 0 / 0%) 0,
                        rgb(0 0 0 / 7.5%) 20%,
                        rgb(0 0 0 / 15%) 60%,
                        rgb(0 0 0 / 0%)
        );
    }

    &--theme-light {
        background-color: var(--light-accent);
    }

    &--theme-dark {
        background-color: var(--dark-accent);
    }
}

[data-theme="theme-light"] {
    .block:not(.block--theme-light, .block--theme-dark) {
        background-color: var(--light-accent);
    }
}

[data-theme="theme-dark"] {
    .block:not(.block--theme-light, .block--theme-dark) {
        background-color: var(--dark-accent);
    }
}

.wrapper {
    position: relative;
    display: inline-block;

    &:nth-child(7n + 1) {
        width: 78%;
    }

    &:nth-child(7n + 2) {
        width: 98%;
    }

    &:nth-child(7n + 3) {
        width: 82%;
    }

    &:nth-child(7n + 4) {
        width: 90%;
    }

    &:nth-child(7n + 5) {
        width: 75%;
    }

    &:nth-child(7n + 6) {
        width: 86%;
    }

    &:nth-child(7n) {
        width: 90%;
    }

}

.inner {
    inset: 0.20em 0;
    content: "";
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    background-color: rgb(0 0 0 / 15%);

    &::after {
        inset: 0;
        content: '';
        position: absolute;
        transform: translateX(-100%);
        animation: shimmer 3s infinite;
        background-image: linear-gradient(
                        90deg,
                        rgb(0 0 0 / 0%) 0,
                        rgb(0 0 0 / 7.5%) 20%,
                        rgb(0 0 0 / 15%) 60%,
                        rgb(0 0 0 / 0%)
        );
    }

    &--theme-light {
        background-color: var(--light-accent);
    }

    &--theme-dark {
        background-color: var(--dark-accent);
    }
}

[data-theme="theme-light"] {
    .inner:not(.inner--theme-light, .inner--theme-dark) {
        background-color: var(--light-accent);
    }
}

[data-theme="theme-dark"] {
    .inner:not(.inner--theme-light, .inner--theme-dark) {
        background-color: var(--dark-accent);
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}


@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
