@use './base/reset';
@use './base/vars';
@use './base/main';
@use './vars/colors';
@use './vars/sizes';

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

a, input, button {
    outline-color: var(--blue);
}
