.block {
    width: 100%;
    font-size: 24px;
    text-align: center;

    &.block--theme-light {
        color: var(--dark-secondary);
    }

    &.block--theme-dark {
        color: var(--light-secondary);
    }
}

[data-theme="theme-light"] {
    .block:not(.block--theme-dark, .block--theme-light) {
        color: var(--dark-secondary);
    }
}

[data-theme="theme-dark"] {
    .block:not(.block--theme-dark, .block--theme-light) {
        color: var(--light-secondary);
    }
}

@media (width <= 2160px) {
    .block {
        font-size: 20px;
    }
}

@media (width <= 1200px) {
    .block {
        font-size: 18px;
    }
}
