.block {
    width: 100%;
    font-size: 24px;
    text-align: center;

    &--light {
        color: var(--dark-secondary);
    }

    &--dark {
        color: var(--light-secondary);
    }
}

[data-theme="light"] {
    .block:not(.block--dark, .block--light) {
        color: var(--dark-secondary);
    }
}

[data-theme="dark"] {
    .block:not(.block--dark, .block--light) {
        color: var(--light-secondary);
    }
}

@media (width <= 2160px) {
    .block {
        font-size: 20px;
    }
}

@media (width <= 1200px) {
    .block {
        font-size: 18px;
    }
}
