.block {
    gap: r(50);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button {
    margin: 0 auto;
    max-width: r(270);
}

.item {
    border: none;
    display: flex;
    height: r(32);
    background: none;
    padding: 0 r(5);
    font-size: r(14);
    min-width: r(32);
    border-radius: 8px;
    align-items: center;
    font-family: inherit;
    text-decoration: none;
    justify-content: center;
    color: var(--color-black);

    &--active {
        pointer-events: none;
        color: var(--color-white);
        background-color: var(--color-violet);
    }

    @at-root {
        a#{&}, button#{&} {
            cursor: pointer;
            transition: 0.3s opacity;

            &:hover {
                opacity: 0.7;
            }

            &:active {
                opacity: 0.9;
            }
        }
    }
}

.icon {
    width: r(8);
    height: r(14);
    fill: var(--color-black);
}

.nav {
    gap: r(8);
    display: flex;
    align-items: center;
    justify-content: center;
}
