.block {
    gap: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button {
    margin: 0 auto;
    max-width: 270px;
}

.item {
    height: 32px;
    border: none;
    display: flex;
    padding: 0 5px;
    font-size: 14px;
    min-width: 32px;
    background: none;
    border-radius: 8px;
    align-items: center;
    font-family: inherit;
    text-decoration: none;
    justify-content: center;
    color: var(--color-black);

    &--active {
        pointer-events: none;
        color: var(--color-white);
        background-color: var(--color-violet);
    }

    @at-root {
        a#{&}, button#{&} {
            cursor: pointer;
            transition: 0.3s opacity;

            &:hover {
                opacity: 0.7;
            }

            &:active {
                opacity: 0.9;
            }
        }
    }
}

.icon {
    width: 8px;
    height: 14px;
    fill: var(--color-black);
}

.nav {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
