.figure {
    width: 100%;
    display: block;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    //width: fit-content;

    img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;

        &[data-fancybox] {
            cursor: pointer;
        }
    }
}

.figcaption {
    padding-top: 10px;
}

.caption {
    font-size: 22px;
}

@media (width <= 2160px) {
    .figcaption {
        padding-top: 10px;
    }

    .caption {
        font-size: 18px;
    }
}

@media (width <= 1200px) {
    .figcaption {
        padding-top: 5px;
    }

    .caption {
        font-size: 16px;
    }
}
